.transition {
    transition: background 0.3s ease, color 0.3s ease;
}
.transition:hover {
    background: rgba(255, 255, 255, 0.2);
}
.menu-movil {
    z-index: 2;
    position: fixed;
    top: 0;
    right: -250px; /* Oculto por defecto */
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 80px;
    transition: right 0.3s ease-in-out;
}

.menu-open {
    right: 0; /* Muestra el menú */
}
