<!-- footer.component.html -->
<footer class="bg-dark text-white py-4 px-3">
    <div class="container">
      <!-- Logo y pequeña descripción -->
      <div class="text-center d-flex flex-column align-items-center">
        <a href="" class="text-decoration-none d-block">
          <img src="/icono-libros.png" alt="Logo" style="max-width: 80px;">
        </a>
      </div>
  
      <!-- Información de contacto o direcciones -->
      <div class="row mt-4">
        <div class="col text-center">
          <p class="mb-0">Calle fragancia 123, Madrid, España</p>
          <p class="mb-0">contactoempresa.com</p>
        </div>
      </div>
  
      <!-- Redes sociales -->
      <div class="row mt-4">
        <div class="col text-center">
          <a href="#" class="text-white me-3">
            <i class="bi bi-facebook fs-4"></i>
          </a>
          <a href="#" class="text-white me-3">
            <i class="bi bi-twitter fs-4"></i>
          </a>
          <a href="#" class="text-white me-3">
            <i class="bi bi-instagram fs-4"></i>
          </a>
          <a href="#" class="text-white me-3">
            <i class="bi bi-youtube fs-4"></i>
          </a>
        </div>
      </div>
  

    </div>
  </footer>
  