.app-container {
  background: linear-gradient(rgba(157, 157, 157, 0.5), rgba(135, 135, 135, 0.5), rgba(72, 72, 72, 0.5), rgba(0, 0, 0, 0.5)), 
  url('/img-fondo7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:  100%;
  }
  