<section class="container mt-4">
    <section class="book text-center text-white py-5 rounded position-relative">
        <div class="overlay"></div>
        <div class="book-content position-relative">
            <h1 class="fw-bold display-4">Encuentra tu próxima historia favorita</h1>
            <p class="lead fs-5">Explora, descubre y sumérgete en los libros del momento.</p>
            <button class="btn btn-warning btn-lg shadow hover-btn" routerLink="/tienda">Explorar Tienda</button>
        </div>
    </section>

    <div class="datos-container mt-5">
        
        <div *ngIf="productosDestacados.length === 0" class="no-productos text-center">
            <p class="text-muted fs-5">No se encontraron productos populares.</p>
        </div>

        <div *ngIf="productosDestacados.length > 0" class="productos-lista row g-4">
            <div *ngFor="let dato of productosDestacados" class="producto-item col-12 col-sm-6 col-md-4 col-lg-3">

                <div class="product-card libro-card position-relative overflow-hidden rounded">
                    <img [src]="'/covers/' + dato.title + '.png'" class="img-fluid rounded-top" [alt]="dato.title" />
                    <div class="card-body p-4 text-white">
                        <h5 class="product-title fw-bold text-white">{{ dato.title }}</h5>
                        <p class="product-seller text-white">Autor: {{ dato.author }}</p>
                        <p class="product-price fw-bold text-white">Precio: ${{ dato.price }}</p>
                        <div class=" hover-info position-absolute bottom-0 start-0 w-100 h-70 p-4 bg-dark text-white">
                            <p class="description px-3">{{ dato.description }}</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
