<div class="d-flex align-items-center">
  <!-- Botón hamburguesa -->
  <button type="button" class="btn btn-light d-md-none me-3" (click)="toggleMenu()">
    <i class="bi bi-list fs-4"></i>
  </button>
</div>

<!-- Menú móvil desplegable (aparece en la derecha en columna) -->
<div [ngClass]="{'d-none': !isMenuOpen, 'menu-open': isMenuOpen}" class="menu-movil bg-dark text-white p-3 rounded shadow">
  <button type="button" class="btn btn-dark d-md-none me-3" (click)="toggleMenu()">
    <i class="bi bi-list fs-4"></i>Menu
  </button>
  <a class="text-white text-decoration-none fw-bold py-2 px-3 rounded transition d-block" rel="noopener" routerLink="/home">Inicio</a>
  <a class="text-white text-decoration-none fw-bold py-2 px-3 rounded transition d-block" rel="noopener" routerLink="/tienda">Tienda</a>
  <a class="text-white text-decoration-none py-2 px-3 rounded transition d-block" rel="noopener" routerLink="/home">
    <i class="bi bi-cart fs-5"></i>
  </a>
  <button type="button" class="btn btn-outline-light px-3 py-1 d-flex align-items-center gap-2" routerLink="/login">
    <i class="bi bi-person"></i> Iniciar sesión
  </button>
</div>
