
<div class="row px-3  mt-3 mb-3 py-3 column-gap-4 row-gap-4 justify-content-center graphic-container">

  <div class="col-xl-4 col-12 order-xl-0 order-md-0 order-0 border border-black-subtle rounded-3 py-4 px-3 bg-white shadow-sm graf">
    <app-graphic-primera-caja></app-graphic-primera-caja>
  </div>
  <div class="col-xl-6 col-12 order-xl-1 order-md-1 order-1 border border-black-subtle rounded-3 py-4 px-3 bg-white shadow-sm graf">
    <app-graphic-segunda-caja></app-graphic-segunda-caja>
  </div>
  <div class="col-xl-5 col-12 order-xl-2 order-md-2 order-2 border border-black-subtle rounded-3 py-4 px-3 bg-white shadow-sm graf">
    <app-graphic-tercera-caja></app-graphic-tercera-caja>
  </div>
  <div class="col-xl-5 col-12 order-xl-2 order-md-2 order-2 border border-black-subtle rounded-3 py-4 px-3 bg-white shadow-sm graf">
    <app-graphic-cuarta-caja></app-graphic-cuarta-caja>
  </div>

</div>
