<section class="container mt-4"> 
  <h2 class="text-center mb-4">Saga de Trono de Cristal</h2>
  <div class="row g-4">
    <div class="col-md-4" *ngFor="let dato of datosPaginados">
      <div class="card shadow-sm libro-card position-relative">
        <img [src]="'/covers/' + dato.title + '.png'" class="img-fluid rounded-top" class="card-img-top img-fluid" [alt]="dato.title">
        <div class="card-body text-center">
          <h5 class="card-title">{{ dato.title }}</h5>
          <p class="card-text text-primary fw-bold">${{ dato.price }}</p>
          <button class="btn btn-success" (click)="agregarAlCarrito(dato)">Agregar al Carrito</button>
        </div>
        <div class="hover-info">
          <p class="text-white">{{ dato.genre1 }} y {{ dato.genre2 }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="d-flex justify-content-center mt-4 adelante">
    <button class="btn btn-primary" (click)="paginaAnterior()" [disabled]="paginaActual === 1">
      Anterior
    </button>
    <span class="mx-3">Página {{ paginaActual }} de {{ totalPaginas }}</span>
    <button class="btn btn-primary" (click)="siguientePagina()" [disabled]="paginaActual === totalPaginas">
      Siguiente
    </button>
  </div>
</section>

<app-compra *ngIf="isVisible" [libro]="libroSeleccionado"></app-compra>
