* {
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(55, 55, 55, 0.7);
  padding: 1rem;

  .header-left {
    display: flex;
    align-items: center;
    .btn{
      margin-left: 30px;
      color: white;
    }
  }

  .header-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .header-right {
    display: flex;
    align-items: center;

  }

  .form-control {
    border-radius: 20px;
    text-align: start;
    padding: 0.8rem 7rem;
    font-size: 1rem;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    &:focus {
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
  }

  .badge {
    font-size: 0.8rem; /* Ajustar el tamaño del número */
    padding: 0.3rem 0.5rem;
    background-color: #dc3545; /* Color rojo */
    color: white; /* Color del número */
  }

  nav {
    .transition {
      transition: background 0.3s ease, color 0.3s ease;
    }

    .transition:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

@media (max-width: 767px) {
  .header-container {
    padding: 0.5rem;
  }

  .form-control {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }

  button {
    padding: 0.5rem;
  }
}
