<header class="header-container position-sticky top-0 z-3 py-3 shadow px-3">
  <div class="header-left d-flex align-items-center">
    <a class="text-decoration-none d-block" rel="noopener" routerLink="/home">
      <img style="max-width: 55px" src="/icono-libros.png" alt="logo">
    </a>
    <a *ngIf="isLoggedIn" class="btn px-3 py-1 d-flex align-items-center gap-2 fw-bold" routerLink="/profile-cliente">
      <i class="bi bi-person"></i> Perfil
    </a>
  </div>
  
  <div class="header-right d-flex align-items-center ms-auto">
    <nav class="d-flex flex-row align-items-center gap-3 d-none d-md-flex">
      <a class="text-white text-decoration-none fw-bold py-2 px-3 rounded transition" rel="noopener" routerLink="/home">Inicio</a>
      <a class="text-white text-decoration-none fw-bold py-2 px-3 rounded transition" rel="noopener" routerLink="tienda">Tienda</a>
      <a class="text-white text-decoration-none py-2 px-3 rounded transition position-relative" rel="noopener" routerLink="/carrito">
        <i class="bi bi-cart fs-5"></i>
        <span *ngIf="cantidadLibrosEnCarrito > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{ cantidadLibrosEnCarrito }}
        </span>
      </a>
      
      <a *ngIf="!isLoggedIn" class="btn btn-outline-light px-3 py-1 d-flex align-items-center gap-2" routerLink="/login">
        <i class="bi bi-person"></i> Iniciar sesión
      </a>
      <a *ngIf="isLoggedIn" class="btn btn-outline-light px-3 py-1 d-flex align-items-center gap-2" (click)="logout()" routerLink="/home">
        <i class="bi bi-box-arrow-right"></i> Cerrar sesión
      </a>
    </nav>
    <app-menu-moviles></app-menu-moviles>
  </div>
</header>
