<section class="container mt-4">

    <section class="book text-center text-white py-5 rounded position-relative">
        <div class="overlay"></div>
        <div class="book-content position-relative">
            <h1 class="fw-bold">Encuentra Tu Próxima Historia Favorita</h1>
            <p class="lead">Explora, descubre y sumérgete en los mejores libros del momento.</p>
            <button class="btn btn-warning btn-lg mt-3 shadow" routerLink="/tienda">Explorar Tienda</button>
        </div>
    </section>

    <section class="my-5 d-flex justify-content-center align-items-center flex-column libros">
        <h2 class="text-center mb-4">📖 Libros Destacados</h2>
        <div class="row g-4">
            <div class="col-md-4 col-12 d-flex flex-column align-items-center" *ngFor="let libro of librosDestacados" >
                <div class="card shadow-sm libro-card d-flex flex-column align-items-center ">
                    <img [src]="libro.imagen" class="card-img-top img-fluid" [alt]="libro.titulo">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ libro.titulo }}</h5>
                        <p class="card-text text-primary fw-bold">${{ libro.precio }}</p>
                        <button class="btn btn-success" (click)="toggleItem('isActiveCompra')">Comprar</button>
                    </div>
                    <div class="hover-info">
                        <p class="text-white">{{ libro.descripcion }}</p>
                    </div>
                </div>
            </div>
        </div>
        <app-compra *ngIf="isActiveItems.isActiveCompra"></app-compra>
    </section>
    <!-- Categorías -->
    <section class="categories text-center my-5">
        <h2>Categorías Populares</h2>
        <div class="d-flex justify-content-center flex-wrap gap-3 mt-3">
            <button class="btn btn-outline-primary btn-lg">Fantasía</button>
            <button class="btn btn-outline-danger btn-lg">Misterio</button>
            <button class="btn btn-outline-success btn-lg">Romance</button>
            <button class="btn btn-outline-warning btn-lg">Ciencia Ficción</button>
            <button class="btn btn-outline-dark btn-lg">Historia</button>
        </div>
    </section>
</section>  