/* You can add global styles to this file, and also import other style files */

@import "./assets/colors";
@import "./assets/fonts";
@import "./assets/animations";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.bg-dark {
  background-color: #212529 !important;
}
* {
  font-family: "Poppins", sans-serif; // Base font
}

// Si quieres que los encabezados usen "Montserrat"
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; // Tipografía para encabezados
  font-weight: bold; // O el peso que prefieras
}

// Establecer fuentes por defecto en el body
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}