<header class="row align-items-center bg-dark position-sticky top-0 px-4 m-auto">
    <div class="col-6 d-flex flex-row align-items-center column-gap-3">
        <div class="imagen-perfil position-relative rounded-circle  d-flex align-items-center justify-content-center">
            <i class="bi bi-person-fill  fs-4"  (click)="toggleItem('isActivePerfil')"></i>
            <span class="rounded-circle border border-2 position-absolute"></span>
            <app-tab-notification *ngIf="isActiveItems.isActiveNotification"></app-tab-notification>
        </div>
        <div class="position-relative">
            <i class="bi bi-bell-fill fs-5" (click)="toggleItem('isActiveNotification')"></i>
            <span class="position-absolute notify rounded-circle small d-flex align-items-center justify-content-center text-white">5</span>
            <app-perfil *ngIf="isActiveItems.isActivePerfil"></app-perfil>
        </div>
        <div>
            <i class="bi bi-grid-3x3-gap-fill  fs-5" routerLink="/app/control-panel"></i>
        </div>
        <div>
            <i class="bi bi-gear-fill  fs-5" routerLink="/app/profile"></i>
        </div>
    </div>
    <div class="col-6 d-flex flex-row align-items-center justify-content-end py-3 column-gap-3">
        <div class="position-relative rounded-pill overflow-hidden search-container">
            <i class="bi bi-search position-absolute icon-search bg-white d-flex align-items-center justify-content-center"></i>
            <input type="text" class="form-control w-100 text-end" placeholder="Buscar..">
        </div>
        <div class="icon-list-container">
            <i class="bi bi-list  fs-5" (click)="toggleLogo()"></i>
        </div>
        <div class="position-relative logo-container d-flex align-items-center justify-content-center column-gap-3">
            <span class=" animate-width" *ngIf="isActive">Tienda Online</span>
            <img src="/icono-libros.png" alt="">
        </div>
    </div>
</header>

