<div class="container d-flex justify-content-center align-items-center">
    <div class="register-container">
        <h2 class="register-title">Registro</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <button type="button" class="btn btn-google">
                <i class="bi bi-google"></i> Registrarse con Google
            </button>
            <div class="form-group mb-4">
                <label for="username" class="form-label">Nombre de usuario</label>
                <input type="text" id="username" formControlName="username" class="form-control" placeholder="Ingresa tu nombre de usuario" required />
                <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="text-danger">
                    El nombre de usuario es obligatorio.
                </div>
            </div>
            <div class="form-group mb-4">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" id="email" formControlName="email" class="form-control" placeholder="Ingresa tu correo" required />
                <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
                    Correo electrónico inválido.
                </div>
            </div>
            <div class="form-group mb-4">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" formControlName="password" class="form-control" placeholder="Ingresa tu contraseña" required />
                <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
                    La contraseña es obligatoria.
                </div>
            </div>
            <div class="form-group mb-4">
                <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirma tu contraseña" required />
                <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" class="text-danger">
                    Debes confirmar la contraseña.
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Registrarse</button>
            <div class="mt-4">
                <a href="/login" class="text-decoration-none">¿Ya tienes cuenta? Inicia sesión</a>
            </div>
        </form>
    </div>
</div>