<div class="modal fade show d-block" tabindex="-1" aria-labelledby="addedOrderModalLabel" aria-hidden="true" style="background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addedOrderModalLabel">¡Producto Añadido al Carrito!</h5>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-warning" (click)="cerrarModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  