.modal-content {
    border-radius: 15px;
    background: #535353;
    color: #fff;
    border: none;
}

.modal-header {
    border-bottom: 1px solid #000000;
    padding: 1rem;
    text-align: center;
}

.modal-header h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-body {
    padding: 2rem;
    text-align: center;
}
button:hover {
    transform: scale(1.05);
    background-color: #ac8400;
    border:    #ac8400;;
}
button {
    font-size: 1.1rem;
    padding: 0.8rem 2rem;
    border-radius: 25px;
}

.modal-dialog {
    max-width: 500px;
    margin: auto;
    top: 40%;
    transform: translateY(-50%); /* Esta propiedad lo centra verticalmente */
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

