/* carrito.component.scss */
.section{
    min-height: 100vh;

    .cart-container {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        padding: 30px;
    
    }
    h2 {
        font-size: 2rem;
        font-weight: 700;
        color: #343a40;
    }
    .list-group-item {
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    
    .card {
        border-radius: 8px;
        background-color: #fff;
    }
    
    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
    }
    
    .btn {
        font-weight: 600;
    }
    

    
    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }
    

    
    .btn-warning:hover {
        background-color: #e0a800;
        border-color: #d39e00;
    }
    
    .btn-success:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }
    
    .fw-bold {
        font-weight: 700;
    }
    
    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
    }
    

    
    button {
        transition: background-color 0.3s ease;
    }
    
}
