footer {

  bottom: 0;
  left: 0;

    background-color: #343a40; /* Color de fondo */
    color: #fff;
    padding: 1rem 1rem;

    width: 100%;
    
  }
  
  footer .container {
    text-align: center;
  }
  


  footer a {
    color: #fff;
    margin-right: 1rem;
    font-size: 1rem;
  }
  
  footer a:hover {
    text-decoration: none;
  }
  
  /* Diseño móvil */
  @media (max-width: 767px) {
    footer .container {
      padding: 0 1rem;
    }
  }
  